.card__img-top{
margin-bottom: 30px;
width:288px;
hight:182px;
}
.card{
padding:0 auto;
}
.card__title .card__description{
color:#282828
}
.card__title{
font-size:14px;
}
.card__discription{
font-size:12px;
}
